body {
    display: flex;
    flex-direction: column;

    font-family: "Roboto Flex", serif;
    margin: 0px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.top.box {
    display: flex;
    flex-direction: column;
    background-color: #2b0042;
    color: #F9FAF8;
    padding: 16px 10% 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 24px;
}

.logo {
    font-size:24px;
    font-weight: bold;
}

ul.header-links {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.hero-box {
    display: flex;
    gap: 48px;
    align-items:center;
    justify-content: space-between;

    padding: 32px 0px;
}


.hero.main {
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 12px;
}

.hero.sub {
    font-size: 18px;
    padding-bottom: 12px;
}

.hero-box .container {
    flex: 1 1 0;
}

.container.image {
    display: flex;
    justify-content: end;
}

.hero-image {
    height: 240px;
    width: auto;
}



button.hero {
    border-radius: 4px;
    padding: 4px 20px;
    background-color: rebeccapurple;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    height: 40px;
}

.second-box {
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    display: flex;
    padding: 24px 10% 48px;
}

.second-box .subheader {
    font-size: 24px;
    font-weight: bolder;
    padding: 0 0 24px;
}

.info-holder {
    justify-content: space-around;
    gap: 32px;
}

.infobox {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    text-align: center;
    font-size: 12px;
    width: 100px;

}

.illustration {
    width: 100px;
    height: 100px;
    border: indigo solid 2px;
    border-radius: 8px;
}

.quote-box {
    
    background-color: rgb(235, 235, 235);
    padding: 48px 30% 48px;
    display: block;
    
}

.quote {
    
    font-size: 24px;
    font-style: italic;
    margin: 0px;
}

.attribution {
    font-weight: bold;
    text-align: right;
}

.bottom-box {
    padding: 48px 10% 48px;
    justify-content: center;
    align-items: center;
}

.action-box{
    background-color: indigo;
    color: white;
    border-radius: 8px;
    flex: 1;
    padding: 24px 48px;
    justify-content: space-between;

}

.action-title {
    font-weight: bold;
    font-size: 18px;
}

.footer {
    background-color: #2b0042;
    color: white;
    font-weight: 400px;
    justify-content: center;
    align-items: center;
    padding: 16px 10%;
}



